li ul{
	color: blue;
}

li ul li ul{
	list-style: none;
}

ul:first-line {
	font-weight: bold;
 }

 ul a{
 	color: red;
 }

 div a{
 	color: green;
 }

 div:nth-child(2) a{
 	background-color: yellow;
 	color: purple;
 }