li{
	display: inline-flex;
	border: 1px solid black;
	background-color: blue;
	justify-content: center;
	width: 3em;
	color: white;
}

ul{
	padding: 0;
}

#Hiding{
	visibility: hidden;
}

.odd{
	display: none;
}